body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222222;
}

.header__container {
  padding: 0 16px;
  background: #ffffff;
  height: 17.8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 22.1vw;
  height: 9.68vw;
}

.bucket img {
  width: 7.18vw;
}

  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
  }

  .hamburger {
      width: 5.3vw;
      height: 5.3vw;
      position: relative;
  }

  .hamburger .bar {
      padding: 0;
      width: 5.3vw;
      height: .62vw;
      background-color: #222222;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute;
  }

  .bar1 {
      top: 0;
  }

  .bar2,
  .bar3 {
      top: 2.34vw;
  }

  .bar3 {
      right: 0;
  }

  .bar4 {
      bottom: 0;
  }

  .checkbox1:checked + label > .hamburger1 > .bar1{
      transform: rotate(45deg);
      transform-origin: 5%;
      width: 7.3vw;
  }

  .checkbox1:checked + label > .hamburger1 > .bar2 {
      transform: translateX(-40px);
      background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar3 {
      transform: translateX(40px);
      background-color: transparent;
  }

  .checkbox1:checked + label > .hamburger1 > .bar4 {
      transform-origin: 5%;
      transform: rotate(-45deg);
      width:7.3vw;
  }

  .nav {
  display: none;

}

.hide {
  display: none;
}

.show {
  display: flex;

}

.nav a {
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

}

.nav {
  margin: 0 16px;
  padding: 38px 0 75px;
  height: 144px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header-info {
  margin-bottom: 30px;
}

.header-info__back {
  width: 100%;
}

.button {
  cursor: pointer;
  width: 286px;
  height: 43px;
  border: none;
  border-radius: 40px;
  color: white;
  background: #41b24f;
}

.header__button-secondary {
  cursor: pointer;
  margin-top: 20px;
  width: 286px;
  height: 43px;
  background: none;
  border: 2px solid #41b24f;
  border-radius: 40px;
  color: #41b24f;
}

.buy {
  margin: 0 auto;
  width: 320px;
}
.buy-wrap {
  overflow: hidden;
  margin-left: 17px;
}

@media screen and (min-width:600px) {
  .buy {
    margin: 0;
    width: 100%;
  }

  .buy-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .header__button-secondary {
    margin: 0;
  }

  .head-title {
    text-align: center;
  }
}

.head-title {
  margin-top: 30px;
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.head-title>span {
  color: #41b24f;
}

.leaf-clean-block {
  margin-top: 20px;
  margin-right: 10px;
  text-align: end;
}

.header-info-block {
  text-align: center;
}

.header-info-block__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 24px;
  color: #222222;
}

.header-info-block p{
  margin:0 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1d2f1f;
}

.header-info__help-title {
  margin: 40px 15px 40px 20px;
  font-family: 'Play', serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  color: #41b24f;
}

.help-block {
  text-align: center;
}

.help-block {
  position: relative;
}

.leaf-near-info-button {
  position: absolute;
  left: 0;
  bottom: -70px;
  z-index: 2;
}

.wave-up {
  position: relative;
  padding-top: 20px;
  height: 82px;
  background-image: url(./images/mobile_wave_up.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.detox__title-block__leaf {
  position: absolute;
  height: 69px;
  top: -50px;
  left: 46px;
}

.content-background {
  background-color: #f1fbff;
}

.content__title {
  text-align: center;
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #222222;
  margin-bottom: 24px;
}

.content__title-block {
  margin: 0 20px 0 17px;
}

.content__title-block p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.content__block {
  position: relative;
  margin: 90px 5.31vw 0;
  display: grid;
  grid-template-rows: auto;

}

.content__block-up {
  width: 79vw;
  padding: 47px 4.68vw 5vw 5.62vw;
  border: 2px solid #41b24f;
  border-radius: 75px 0 0 0;
}

.content__block-up h2 {
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #222222;
  margin-bottom: 24px;
}

.content__block-up p {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.how-button {
  text-align: center;
}

.content__block-down {
  background-image: url(./images/grass_down.jpg);
  background-size: cover;
  width: 100%;
  height: 213px;
  border-radius: 0 0 75px 0;
  margin: 16px 0 40px;
}

.wave-down {
  height: 63px;
  background-image: url(./images/mobile_wave_down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}

.detox__title {
  position: relative;
}

.detox__title__leaf-left {
  position: absolute;
  top: -90px;
  left: 8px;
}

.detox__title__leaf-right {
  position: absolute;
  top: -80px;
  right: 0;
}

.detox__title-block h2 {
  margin: 80px auto 0;
  width: 84vw;
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

.detox__reasons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.detox__reason {
  text-align: center;
}

.detox__reason:nth-of-type(1) {
  width: 128px;
  margin-top: 62px;
}
.detox__reason:nth-of-type(2) {
  width: 134px;
  margin-top: 58px;
}
.detox__reason:nth-of-type(3) {
  width: 124px;
  margin-top: 35px;
}
.detox__reason:nth-of-type(4) {
  width: 124px;
  margin-top: 13px;
}
.detox__reason:nth-of-type(5) {
  margin-top: 40px;
  width: 124px;
}

@media screen and (min-width: 372px) {
  .detox__reason:nth-of-type(5) {
    margin-top: -18px;
  }
}

@media screen and (min-width: 386px) {
  .detox__reason:nth-of-type(3) {
    margin-top: 61px;
  }
}

@media screen and (min-width: 510px) {
  .detox__reason:nth-of-type(4) {
    margin-top: 39px;
  }
}

@media screen and (min-width: 510px) {
  .detox__reason:nth-of-type(5) {
    margin-top: 39px;
  }
}


@media screen and (min-width: 634px) {
  .detox__reason:nth-of-type(5) {
    margin-top: 8px;
  }
}

.reviews__title__leaf {
  position: absolute;
  top: -17px;
  left: 0;
}

.rewiew__card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__title {
  margin: 0 0 37px;
  text-align: center;
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.rewiew {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 485px;
}

.reviews__block {
  overflow: hidden;
}

.rewiew__card {
  width: 217px;
  margin-left: 27px;
}

.rewiew__card:nth-of-type(2) {
  opacity: 0.3;
}

.rewiew__card-title h4 {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.rewiew__card-title p {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #c4c4c4;
}

.rewiew__text {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1d2f1f;
}

.rewiew__text a {
  color: #41b24f;
}

.detox__reason p {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1D2F1F;
}

.content__title {
  margin-top: 0;
}

.trusted__content-link,
.rewiew__more {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

.trusted__content-more,
.rewiew__more {
  color: #41b24f;
  display: inline-block;
  padding-right: 50px;
  transition: .708s ease-out;
}

.trusted__content-more:hover,
.rewiew__more:hover {
  padding-left: 50px;
  padding-right: 0;
  color: #229430;
}

.trusted__content-link::before,
.rewiew__more-link::before {
  transition: .6s ease-out .108s;
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 0;
  background-color: #41b24f;
  top: 50%;
  left: 0;
}

.trusted__content-link:hover::before,
.rewiew__more-link:hover::before {
  width: 29px;
  transition-delay: 0s;
}

.trusted__content-link::after,
.rewiew__more-link::after {
  transition: .6s ease-out .108s;
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 29px;
  background-color: #41b24f;
  top: 50%;
  right: 0;
}

.trusted__content-link:hover::after,
.rewiew__more-link:hover::after {
  width: 0;
  transition-delay: 0s;
}

.trusted {
  margin-top: 40px;
}

.trusted__content {
  display: grid;
  grid-template-rows: auto;
  row-gap: 21px;
  margin: 0 17px;
}

.trusted__content-up {
  position: relative;
  border-radius: 75px 0 0 0;
  border: 2px solid #41b24f;
  padding: 50px 15px 22px 18px;
}

.trusted__content-up p {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1d2f1f;
}

.trusted__leaf {
  position: absolute;
  top: -40px;
  left: 37px;
}

.trusted__title {
  margin-bottom: 59px;
}

.trusted__title h2 {
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #222222;
  margin: 0 auto;
  text-align: center;
  width: 65vw;
}

.detox-bottle {
  width: 100%;
}

.trusted__content-down {
  border-radius: 0 0 75px 0;
  border: 2px solid #41b24f;
  padding: 36px 15px 38px 21px;
}

.trusted__content-down h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #222222;
}

.trusted__content-down p {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #1d2f1f;
}

.buy-title-block {
  margin: 80px auto 24px;
  width: 75vw;
}

.buy-help {
  margin: 0 29px 60px;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.buy-block {
  position: relative;
  margin: 0 auto;
}

.leaf_find_left_up {
  position: absolute;
  top: -45px;
  left: 14px;
}

.leaf_find_right_center {
  position: absolute;
  top: 85px;
  right: 0;
}

.leaf_find_left_down {
  position: absolute;
  bottom: -28px;
  left: 0;
}

.buy-title {
  font-family: 'Play', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: #222222;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple
{
  background: inherit;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #41b24f;
  outline: none;
}

.select2-container .select2-selection--multiple {
  min-height: 45px;
}

.sel:not(:first-child),
.more {
  margin-top: 30px;
}

.sel,
.more {
  margin-left: 5.3vw;
}

.submit-form {
  width: 100%;
}

input.select2-search__field {
  position: relative;
  line-height: 120%;
  cursor: pointer;
  color: transparent;
}

.select2-container .select2-search--inline .select2-search__field::placeholder {
  font-size: 14px;
  line-height: 120%;
}

.select2-container--default .select2-selection--multiple::after {
  position: absolute;
  content: url(./images/arrow-down.svg);
  background-repeat: no-repeat;
  width: 12px;
  right: 5px;
  top: 5%;
}

.more .select2-container--default .select2-selection--multiple::before {
  position: absolute;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 125%;
  content: 'As a beverage, as pills, sugar free';
  left: 6px;
  bottom: -5px;
}

.select2-container--default .select2-selection--multiple:hover::after {
  opacity: 0.3;
}

.select2-search__field::placeholder {
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #222222;
}

.more .select2-container--default .select2-selection--multiple,
.more .select2-container--default.select2-container--focus .select2-selection--multiple {
  background: inherit;
  border-radius: 0;
  border: none;
  outline: none;
}

.select2-container--default .select2-selection--multiple {
  cursor: pointer;
}

.footer__line {
  margin: 0 16px;
  position: relative;
  width: 81.25vw;
  height: 2px;
  background: #41b24f;
}

.footer__line__leaf {
  position: absolute;
  bottom: -2.5vw;
  right: -11vw;
  width: 10vw;
}

.footer__links__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Open Sans', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  padding: 24px 0;
  margin-left: 20px;
  width: 90vw;
  border-bottom: 1px solid #2222221a;
}

.footer__links__contact a:not(:last-of-type) {
  margin-bottom: 20px;
}

.more {
  margin-bottom: 41px;
}

.privacy {
  margin: 24px 20px 60px;
  font-size: 10px;
  line-height: 16px;
  color: #6e6e6e;
}

.submit-form__link {
  text-align: center;
}

.footer__line {
margin-top: 77px;
}

.footer__links__social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 20px;
  border-top: 1px solid #2222221a;
  border-bottom: 1px solid #2222221a;
}

.footer__links__social>a>img {
  margin: 10px 0;
  width: 12.5vw;
}

.privacy-block {
  margin: 25px 0;
  text-align: center;
}

.privacy-block__link {
  font-family: 'Roboto';
  text-decoration: underline;
  color: #212121;
  font-size: 12px;
  line-height: 125%;
}

.copyright {
  margin-bottom: 39px;
  font-family: 'Roboto', serif;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #6e6e6e;
}

